fastapi==0.111.1
uvicorn[standard]==0.30.6
python-multipart==0.0.9
aiofiles==24.1.0
pydantic==2.8.2

unrpa==2.3.0
git+https://github.com/CensoredUsername/unrpyc.git
git+https://github.com/Shizmob/rpatool.git
